.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.label {
    font-weight: 500;
    margin: 0;
}

.label span {
    color: red;
}

.input {
    font-size: 1rem;
    padding: 8px 10px;
    border: 1px solid #bee3f8;
    border-radius: 10px;
    background-color: #fff;
}

.input:focus {
    outline: 2px solid rgb(181, 121, 238);
    background-color: #fff;
}

.input[type="file"] {
    display: none;
}
.input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 2rem;
    align-self: self-start;
    border-radius: 3px;
}