.input {
    font-size: 1rem;
    padding: 8px 10px;
    border: 1px solid #bee3f8;
    border-radius: 10px;
    background-color: #fff;
}

.input:focus {
    outline: 2px solid rgb(181, 121, 238);
    background-color: #fff;
}