.headerWrapper * {
    margin: 0;
}


.headerWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;


    padding: 0px 10px;
}

.name {
    font-weight: 300;
}


.arrowWrapper,
.eyeIcon {
    background-color: #EDF2F7;
    padding: 8px 10px;
    border-radius: 5px;
}

.arrow,
.eye {
    width: 20px;
    vertical-align: middle;
}

.eye {
    cursor: pointer;
}

.arrow {
    transform: rotate(180deg);
}

.arrowWrapper {
    display: none;
}


.profileDetailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.profileName {
    margin: 0;
}

.profileImage {
    height: 150px;
    width: 150px;
    background-size: contain;
    border-radius: 50%;
    margin: 0;
}

.profieEmail {
    margin: 0;
    font-weight: 300;
}

@media screen and (max-width:860px) {

    .arrowWrapper {
        display: block;
    }
}