.headerWrapper * {
	margin: 0;
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;

	padding: 0px 10px;
}

.nameWrapper {
	display: flex;
	flex-direction: row;
    align-items: center;
    gap: 10px;
}
.name {
    height: 100%;
	font-size: 1.3rem;
	font-weight: 300;
	position: relative;
    vertical-align: middle;
}
.name > span {
	margin-left: 10px;
	font-size: 0.7rem;
	position: absolute;
	bottom: -12px;
	left: -6px;
}

.arrowWrapper,
.eyeIcon {
	background-color: #edf2f7;
	padding: 8px 10px;
	border-radius: 5px;
	width: fit-content;
}

.arrow,
.eye {
	width: 20px;
	vertical-align: middle;
}

.eye {
	cursor: pointer;
}

.arrow {
	transform: rotate(180deg);
}

.arrowWrapper {
	display: none;
}

.profileDetailsWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}
.profileName {
	margin: 0;
}

.profileImage {
	height: 150px;
	width: 150px;
	background-size: contain;
	border-radius: 50%;
	margin: 0;
}

.profieEmail {
	margin: 0;
	font-weight: 300;
}

@media screen and (max-width: 860px) {
	.arrowWrapper {
		display: block;
	}
}
