.btnFormHeader {
    border: none;
    outline: none;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    font-size: 1.2rem;

    cursor: pointer;
    -webkit-tap-highlight-color: #00000000;
}
.btnFormHeader:disabled{
    color: initial;
}