.homeWrapper {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.home {
    /* margin-top: 100px; */
    max-width: 700px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headerText {

    text-align: center;
    font-weight: 300;
    margin: 0;
}




.formWrapper {
    margin-top: 15px;
    transition: all 0.3s !important;
}



@media screen and (max-width:850px) {
    .home {
        min-width: 450px;
    }

}

@media screen and (max-width:500px) {
    .home {
        min-width: 300px;
    }

}