.personWrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    background-color: #E8E8E8;
}

.personWrapper:hover {
    background-color: #c6f89c;
}

.avatar {
    width: 40px;
    background-size: contain;
    border-radius: 50%;
}

.person {
    padding: 10px;
    margin: 0;
    border-radius: 8px;
}