.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: #EDF2F7;

    padding: 5px 15px;
    border-radius: 8px;

    width: 85px;
    height: 45px;


}

.profileWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.bell {
    width: 20px;
}

.arrow {
    max-width: 13px;
    cursor: pointer;
}
.profileDetailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.profileName {
    margin: 0;
}

.profileImage {
    height: 150px;
    width: 150px;
    background-size: contain;
    border-radius: 50%;
    margin: 0;
}

.profieEmail {
    margin: 0;
    font-weight: 300;
}